@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Namdv<br />
    <abbr title="Phone">P:</abbr>
    +84 915.520.257
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:stnamdv@gmail.com">stnamdv@gmail.com</a><br />    
</address>